@charset "UTF-8";

input[type="password"] {
    border: 1px solid #e6e6e6;
    padding-left: 10px;
}
.login-form {
	padding: 50px 70px;
}
.login-form > .login-input {
	margin-bottom: 20px;
	height: 36px;
	width:100%
}
.login-form > button {
	background-color: #7beec7;
    border-color: #7beec7;
    font-family: 'Lekton', sans-serif;
    color: #111111;
}
.login-form > button:focus, .login-form > button:hover {
	background-color: #7beec7;
    border-color: #7beec7;
    font-family: 'Lekton', sans-serif;
}
.foot {
	text-align: right;
}
.foot > span{
	margin-right: 0.6rem;
}
.foot > .link{
	display: inline-block;
    font-weight: bold;
    color: #12B886;
    cursor: pointer;
}