@charset "UTF-8";

.login > hr{
	width: 100%;
	margin-bottom: 50px;
}
input[type="password"] {
    border: 1px solid #e6e6e6;
    padding-left: 10px;
}
.login-form {
	padding: 50px 70px;
}
.login-form > .login-input {
	margin-bottom: 20px;
	height: 50px;
	width:100%
}
.login-form > button {
	background-color: #7beec7;
    border-color: #7beec7;
    font-family: 'Lekton', sans-serif;
    color: #fff;
    font-weight: bold;
    height: 50px;
    margin-top: 50px;
}
.login-form > button:focus, .login-form > button:hover {
	background-color: #7beec7;
    border-color: #7beec7;
    font-family: 'Lekton', sans-serif;
}
.parent{
    width: 90%;
    margin: 10px auto;
}

.naverLogin {
    border: 1px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.googleLogin{
    float: left;
    margin-left: 5%;
    box-sizing: border-box;
}

.kakaoLogin{
    border: 1px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}
.foot {
	text-align: right;
}
.foot > span{
	margin-right: 0.6rem;
}
.foot > .link{
	display: inline-block;
    font-weight: bold;
    color: #12B886;
    cursor: pointer;
}